.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-modal-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
}

.edit-form-labels-span {
  background-color: transparent;
  color: black;
  margin-top: 10px;
  font-size: 48px;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 8px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input[type="submit"] {
  background-color: transparent;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  width: 48%;
}

.close-edit-modal-button {
  background-color: transparent;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  width: 48%;
}

input[type="submit"]:hover {
  background-color: rgb(115, 238, 115);
}

.close-edit-modal-button:hover {
  background-color: #ea7b7b;
}
