body,
html {
  background-color: rgb(190, 216, 255);
  margin: 0;
  height: 100%;
}

.home-container {
  background-color: rgb(190, 216, 255);
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(190, 216, 255);
  padding: 10px 0;
  width: 100%;
}

.dashboard-header {
  padding-left: 100px;
}

.dashboard-header-span {
  font-size: 40px;
}

.dashboard-options-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  padding: 0 20px;
  width: auto;
  gap: 30px;
  margin-left: 10%;
}

/* Dark mode for dashboard background */
html.dark-mode,
body.dark-mode,
body.dark-mode .home-container,
body.dark-mode .dashboard-header-container {
  background-color: rgb(51, 63, 100);
  color: white;
}

/* Dark mode for dashboard foreground components */
body.dark-mode .dashboard-sidebar,
body.dark-mode .dashboard-search-container,
body.dark-mode .create-note-button,
body.dark-mode .dashboard-filter-button {
  background-color: rgb(44, 51, 70);
  color: white;
}

/* styling for filter menu */
.dashboard-filter-button {
  width: 90px;
  height: 90px;
  background-color: rgb(130, 162, 206);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-filter-button:hover {
  background-color: rgb(130, 162, 206);
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.dashboard-filter-button-span {
  display: inline-block;
  font-size: 40px;
}

.filter-menu-container {
  background-color: rgb(87, 124, 173);
  position: fixed;
  margin-left: 30px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.filter-by-favorite,
.filter-by-label {
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-by-favorite-span,
.filter-by-label-span {
  font-size: 32px;
  display: block;
  color: white;
  padding: 8px;
  transition: background-color 0.2s;
}

.filter-by-favorite-span:hover,
.filter-by-label-span:hover {
  border-radius: 50px;
  background-color: rgb(190, 216, 255);
}

.clear-filters-dashboard-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
}

.clear-filters-dashboard-button:hover {
  background-color: rgb(190, 216, 255);
  color: rgb(87, 124, 173);
  border-radius: 50px;
}

/* styling for dashboard label search */
.dashboard-label-search-container {
  background-color: rgb(87, 124, 173);
  margin-left: 220px;
}

.dashboard-label-search {
  font-size: 32px;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* styling for search bar */
.dashboard-search-container {
  display: flex;
  align-items: center;
  background-color: rgb(130, 162, 206);
  height: 90px;
  width: 80%;
  border-radius: 20px;
  padding: 0 10px;
}

.dashboard-search-input-field {
  flex-grow: 1;
  background-color: white;
  border: none;
  padding: 10px 15px;
  border-radius: none;
  font-size: 30px;
  box-shadow: none;
}

.dashboard-search-input-field::placeholder {
  color: white;
  opacity: 1;
}

.search-icon {
  font-size: 60px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 5%;
}

.no-notes-found-div {
  background-color: rgb(130, 162, 206);
  margin-top: 20%;
  margin-left: 30%;
  width: 40%;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.no-notes-found-span {
  font-size: 70px;
  color: white;
}

.create-note-button {
  width: 90px;
  height: 90px;
  margin-left: 30px;
  background-color: rgb(130, 162, 206);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-note-button:hover {
  background-color: rgb(130, 162, 206);
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.create-note-button-span {
  color: white;
  font-size: 40px;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}

.dashboard-sidebar-container {
  flex-shrink: 0;
  margin-right: 20px;
}

.notes-list-container {
  width: 87%;
  padding-right: 30px;
  overflow-y: auto;
  padding-top: 200px;
}

.notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-sidebar {
  position: fixed;
  left: 2%;
  bottom: 2%;
  z-index: 1000;
  background-color: rgb(190, 216, 255);
  padding: 10px 0;
  height: 80vh;
  width: 180px;
  border-radius: 50px;
  background-color: rgb(130, 162, 206);
  border-right: 1px solid #ddd;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-sidebar hr {
  border: 0;
  border-radius: 20px;
  height: 5px;
  background-color: rgb(190, 216, 255);
  margin: 20px 0;
  width: 80%;
}

.dashboard-sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-sidebar nav ul li {
  margin: 10px 0;
}

.dashboard-sidebar nav ul li a {
  text-decoration: none;
  color: #007bff;
}

.dashboard-sidebar nav ul li a:hover {
  text-decoration: underline;
}

.sidebar-help-button,
.sidebar-settings-button,
.sidebar-home-button,
.sidebar-pinned-button,
.sidebar-archive-button,
.sidebar-logout-button,
.sidebar-darkmode-button {
  width: 90px;
  height: 90px;
  margin-top: 90%;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-help-button:hover,
.sidebar-settings-button:hover,
.sidebar-home-button:hover,
.sidebar-pinned-button:hover,
.sidebar-archive-button:hover,
.sidebar-logout-button:hover,
.sidebar-darkmode-button:hover {
  background-color: transparent;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.sidebar-home-button-span,
.sidebar-pinned-button-span,
.sidebar-archive-button-span,
.sidebar-settings-button-span,
.sidebar-help-button-span,
.sidebar-logout-button-span,
.sidebar-darkmode-button-span {
  width: 85px;
  height: 85px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
