.note-container {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.note-title {
  color: #333;
}

.note-content {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button,
.edit-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button {
  background-color: transparent;
  color: grey;
  font-size: 32px;
}

.delete-button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.edit-button {
  background-color: transparent;
  color: grey;
  font-size: 32px;
}

.edit-button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.modal-content button {
  padding: 15px;
  border-radius: 8px;
  max-width: 400px;
  width: 40%;
  font-size: 14;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content .confirm-delete-button {
  background-color: #6aaec0;
  color: white;
}

.modal-content .confirm-delete-button:hover {
  background-color: #19667b;
}

.modal-content .cancel-delete-button {
  background-color: #c46552;
  color: white;
}

.modal-content .cancel-delete-button:hover {
  background-color: #ba381e;
}
